{% extends 'base.html' %}

{% block title %}Login/Signup{% endblock %}

{% block content %}
<div class="centred-form">
    <div class="padded-card">
        <form method="POST">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <fieldset class="text-centre">
                {% if login_form %}
                    <legend>Login</legend>
                {% else %}
                    <legend>Signup</legend>
                {% endif %}
                <hr>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input
                        type="text"
                        name="username"
                        class="form-control"
                        placeholder="Username"
                        minlength="5"
                        maxlength="12"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Password"
                        {% if not login_form %}
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
                        {% endif %}
                        required
                    />
                    {% if not login_form %}
                        <small id="passwordHelp" class="form-text text-muted">
                            Must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters
                        </small>
                    {% endif %}
                </div>
                {% if login_form %}
                    <p><a class="link-opacity-100" href="/auth/signup">Don't have an account?</a></p>
                    <button type="submit" formaction="/auth/login" class="btn btn-primary">Login</button>
                {% else %}
                <p><a class="link-opacity-100" href="/auth/login">Already have an account?</a></p>
                    <button type="submit" formaction="/auth/signup" class="btn btn-primary">Signup</button>
                {% endif %}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}