{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-form">
    <div class="padded-card">
        <form method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <fieldset class="text-centre">
                <legend>Login / Signup</legend>
                <hr>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" formaction="/auth/login" class="btn btn-primary">Login</button>
                <button type="submit" formaction="/auth/signup" class="btn btn-primary">Signup</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}